<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <h1 class="blog-text-center" style="margin: 2rem 0rem 4rem;">-- Contact --</h1>
        <div class="timeline-year">
            <main class="col-md-12">
                        <form action="{% url 'message:message' %}" method="post" class="contact-form">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <!-- <input type="text" name="name" placeholder="Your Name" required>
                                    <input type="email" name="email" placeholder="Your Email" required>
                                    <input type="text" name="subject" placeholder="Subject" required>
                                    <textarea name="message" rows="7" placeholder="Your Message" required></textarea> -->
                                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}：</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}：</label>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                    <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}：</label>
                                    {{ form.subject }}
                                    {{ form.subject.errors }}
                                    <label for="{{ form.message.id_for_label }}">{{ form.message.label }}：</label>
                                    {{ form.message }}
                                    {{ form.message.errors }}
                                    <button class="btn-send btn-5 btn-5b ion-ios-paperplane" type="submit"><span>Drop Me a Line</span></button>
                                </div>
                            </div>	<!-- row -->
                        </form>
            </main>
        </div>
        <hr>
    </div>
</div>